* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Spoqa Han Sans,Spoqa Han Sans JP,"Sans-serif","sans-serif",Apple SD Gothic Neo,Helvetica Neue,Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
img, svg {
    vertical-align: middle;
}
a, a:hover {
    text-decoration: none;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.Icon, .Menus__link {
    display: inline-block;
}
.Gilroy {
    font-family: Gilroy,Spoqa Han Sans,Spoqa Han Sans JP,"Sans-serif";
    font-weight: 700;
}
.float-right {
    float: right!important;
}
.FluidContainer {
    background-color: #1e2025;
}
.Navigation {
    clear: both;
    height: 3.75rem;
    line-height: 3.75rem;
    background-color: #27282d;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #2a2b30;
}
.container {
    color: #fbfbfb;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Menus__link {
    font-size: 1px;
    font-size: 1rem;
    margin-right: 1.6rem;
    user-select: none;
    position: relative;
}
.Menus__link.brand {
    font-size: 1.875rem;
    font-family: Gilroy;
    color: #db0442;
    margin-right: 4rem;
}
.Menus__link:not(.brand) {
    top: -.25rem;
    position: relative;
    color: #fbfbfb;
}
.Menus__login {
    font-size: .75px;
    font-size: .75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    cursor: pointer;
    margin-top: .875rem;
    height: 2rem;
    line-height: normal;
    border: 1px solid #01d1b2;
    color: #01d1b2;
    padding-top: .4rem;
}
.Menus__login:hover {
    -webkit-animation:login   0.3s ease 1;
    -webkit-animation-fill-mode:both
}
@-webkit-keyframes login{
    100%{
        border-color: #16776A;
        color:  #16776A;
    }
}

.LeagueSelector {
    background-color: #27282d;
    cursor: pointer;
    user-select: none;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.LeagueSelector .container {
    position: relative;
}
.TournamentSymbol {
    padding-bottom: .625rem;
    border-bottom: 2px solid transparent;
}
.TournamentSymbol__image {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .625rem;
    vertical-align: top;
}
.TournamentSymbol__badge, .TournamentSymbol__label {
    margin-left: .625rem;
    display: inline-block;
    vertical-align: top;
    margin-top: .625rem;
    line-height: 2.5rem;
}
.LeagueBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
    opacity: .3;
    pointer-events: none;
}
.Intro {
    background-color: #1e2025;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.Title {
    font-size: 1.875px;
    font-size: 1.875rem;
    position: relative;
    padding-top: 1rem;
    color: #fbfbfb;
    text-transform: uppercase;
}
.Title__squares {
    font-size: 0;
    position: absolute;
    top: 0;
}
.Title__square {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 8px;
    margin-right: 2px;
    background-color: #db0442;
}
.Title__square.small {
    width: 8px;
}
.LeagueTeams {
    text-align: center;
    margin-bottom: 3rem;
}
.LeagueTeams__link {
    margin-bottom: 1.25rem;
    display: inline-block;
}
.LeagueSelector .container {
    position: relative;
}
.LeagueTeams__link:not(:last-child) {
    margin-right: 1.25rem;
}
.TeamSymbol.large {
    width: 5rem;
    height: 5rem;
}
.LeagueTeams__team {
    text-align: center;
    background-color: #fff;
    width: 4.6875rem!important;
    height: 4.6875rem!important;
    
}
.LeagueTeams__team:hover {
    -webkit-animation:team   0.3s ease 1;
    -webkit-animation-fill-mode:both
}
@-webkit-keyframes team{
    0%{
        -webkit-transform: scale(1.0, 1.0)
    }
    100%{
        -webkit-transform: scale(1.1, 1.1)
    }
}
.TeamSymbol {
    display: inline-block;
    width: 3.75rem;
    height: 3.75rem;
    position: relative;
    margin: 0;
}
.TeamSymbol:not(.circleless) {
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    background-color: #fbfbfb;
}
.TeamSymbol__image {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    
}
.TeamSymbol__acronym {
    margin-top: .625rem;
    display: inline-block;
    color: #5b5c64;
}
.Intro__section {
    margin-bottom: 2.5rem;
}
.LiveStreams__container {
    margin-right: -.625rem;
}
.LiveStreams__streaming {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.25rem;
    margin-right: .625rem;
    width: calc(20% - .625rem);
}
.LiveStreams__streaming__thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
}
.PlayerIcon {
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    border-radius: 50%;
    margin: 0;
}
.PlayerIcon.small {
    width: 1.875rem;
    height: 1.875rem;
}
.LiveStreams__streaming__playerName {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: .5rem;
    top: .2rem;
    color: #fbfbfb;
}
.LiveStreams__streaming__playerIcon {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d8d8d8;
}
.RecentMatches {
    padding: 0;
    margin: -1.5rem 0 0;
}
.RecentMatches__split {
    float: right;
    margin: .625rem;
}
.RecentMatches li, .RecentMatchesul {
    margin: 0;
    list-style: none;
}
.MatchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: #27282d;
    width: 100%;
    color: #fbfbfb;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    margin-bottom: .125rem;
    position: relative;
}
.MatchBar__column.arrow, .MatchBar__column.date {
    width: 6.25rem;
}
.MatchBar__column.date {
    padding-left: 1.25rem;
}
.MatchBar__column.finished {
    color: #5b5c64;
}
.MatchBar__column {
    white-space: nowrap;
    position: relative;
}
.MatchBar__column.home {
    text-align: right;
}
.MatchBar__column.away, .MatchBar__column.home {
    width: 30%;
}
.MatchBar__column.board {
    text-align: center;
}
.MatchBar__column.away {
    text-align: left;
}
.MatchBar__column.away, .MatchBar__column.home {
    width: 30%;
}
.MatchBar__column {
    white-space: nowrap;
    position: relative;
}
.MatchBar__column.arrow, .MatchBar__column.date {
    width: 6.25rem;
}
.MatchBar__column.arrow {
    text-align: right;
    padding-right: 1.25rem;
    justify-self: right;
}
.ScoreBoard {
    position: relative;
    width: 7.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #1e2025;
    overflow-y: hidden;
    cursor: pointer;
}
.ScoreBoard__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: top .15s;
    transition: top .15s;
    background-color: #db0442;
}
.ScoreBoard__overlay :hover {
    -webkit-animation:overlay  0.3s ease 1;
    -webkit-animation-fill-mode:both
}
@-webkit-keyframes overlay{
    100%{
        transition: top .15s;
        transition-property: top;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
}
.MatchBar__team__line {
    margin: 0 1.5625rem;
    position: relative;
    top: -1.3rem;
}
.Ranks table {
    width: 100%;
}
.RankTable {
    border-collapse: initial;
    border-spacing: 0 1rem;
    width: 100%;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.RankTable thead th:first-child {
    font-size: 1.875px;
    font-size: 1.875rem;
}
.RankTable thead th {
    height: 3.125rem;
    text-transform: uppercase;
}
th {
    text-align: inherit;
}
.RankTable thead th {
    height: 3.125rem;
    text-transform: uppercase;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.RankTable tbody td:first-child {
    width: 5rem;
    position: relative;
    background-color: #fbfbfb;
    background-size: 60%;
    background-position: .625rem;
    background-repeat: no-repeat;
}
.RankTable tbody td {
    height: 3.75rem;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    background-color: #5b5c64;
}
.RankTable tbody tr.RankTable__lead td:not(:first-child) {
    background-color: #db0442;
}
.RankTable tbody td:nth-child(2) {
    font-size: 1.5px;
    font-size: 1.5rem;
    text-align: center;
    width: 3rem;
}
.RankTable tbody td:nth-child(4) {
    width: 6rem;
}
.RankTable tbody td:last-child {
    width: 5rem;
}
