* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Spoqa Han Sans,Spoqa Han Sans JP,"Sans-serif","sans-serif",Apple SD Gothic Neo,Helvetica Neue,Arial;
}
a, a:hover {
    text-decoration: none;
}
.Icon, .Menus__link {
    display: inline-block;
}
.Gilroy {
    font-weight: 900;
}
.float-right {
    float: right!important;
}
.Navigation {
    clear: both;
    height: 3.75rem;
    line-height: 3.75rem;
    background-color: #27282d;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #2a2b30;
}
.container {
    color: #fbfbfb;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Menus__link {
    font-size: 1px;
    font-size: 1rem;
    margin-right: 1.6rem;
    user-select: none;
    position: relative;
}
.Menus__link.brand {
    font-size: 1.875rem;
    font-family: Gilroy;
    color: #db0442;
    margin-right: 4rem;
}
.Menus__link:not(.brand) {
    top: -.25rem;
    position: relative;
    color: #fbfbfb;
}
.Menus__login {
    font-size: .75px;
    font-size: .75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    cursor: pointer;
    margin-top: .875rem;
    height: 2rem;
    line-height: normal;
    border: 1px solid #01d1b2;
    color: #01d1b2;
    padding-top: .4rem;
}
.LeagueSelector {
    background-color: rgba(39,40,45,.95);
    cursor: pointer;
    user-select: none;
}
.FluidContainer {
    background-color: #1e2025;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.LeagueSelector .container {
    position: relative;
}